.homeBtn { 
  height: 100px;
  position: relative; 
}

.BhCenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.button {
	background-color: #86700c ;
 	border-radius: 16px;
 	color: white;
 	padding: 10px 25px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
	
  	font-size: 18px;
}

html,body{padding: 0px;
    margin: 0 0 500px;
    background-color:white;
   
    
    
}

.header{
    background-color:;
    width:100%;
    height: 80px;
    
}
.logo img{
 
    width: 80px;
    height: 80px;
    float: left;
  
}

.socielicons img{
    width: 26px;
    height: 26px;
    float: right;
    margin-top: 50px;
    padding-right: 2px;
    
   
}

.regbtn{
    position: absolute;
     top:2px;
    right:5px;
  margin: 4px;
  padding: 4px;
  font-family: ;
  letter-spacing: 1px;
  border-radius: 20px;
  background:linear-gradient(to right,#56ccf2,#14417c);
  border:0;
  cursor: pointer;
}


.regbtn::before,
.regbtn::after{
    content: '';
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:linear-gradient(to right,#56ccf2,#14417c);
    border-radius: 20px;
    transition:all .5s ease-in-out;
}

.regbtn:hover::before{
    filter:blur(5px);
}
.regbtn:hover::after{
    filter:blur(15px);
}
.regbtn:hover{
    animation: hue 3s linear infinite;
}
@keyframes hue{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}

.regbtn span{
    padding:8px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #2c2e36;
    border-radius: 17px;
    text-transform: uppercase;
}

        /*navigation bar*/
.nav ul{
    float: right;
    list-style: none;
background-color: #2c2e36;
margin-top: 0px;
width: 100%;
}

.nav ul li{
    position: relative;
    float: left;
}

.nav ul li a{
    display: block;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 19px;
}
.nav ul li a:hover{
    color: black;
    background-color: whitesmoke;
}




.footercontainer{
    position: absolute;
    top: 1250px;
    left: 0;
   bottom:0;
    background-color:black;
    width: 100%;
    height:400px;
    color: white;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    
}
.footercontainer legend{
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
}
.footerinfo{
    
    width: 100%;
    height: 400px;
   
    float: left;
}
.abouttxt{
    color: white;
    width: 300px;
    height: 300px;
    letter-spacing: 2px;
    
}
 .contactinfo{
    position: absolute;
    top: 1290px;
    right:10px;
    width: 300px;
    height: 300px;
    float: right;
  
    color: white;
}
.contactinfo legend{
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
}

.footerbtn{
    text-decoration: none;
    margin-left: 80px;
    padding: 10px 50px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:0.4s ease-in-out;
}
.footerbtn:hover{
    box-shadow: 0px 7px 10px rgba(204, 197, 197, 0.5)216, 0.5);
}
.iconsfooter img{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 50px;
    padding-right: 2px;
    
   
}
